/*common elements*/
h6{
	color: rgb(175, 10, 10);
	font-family: "Lucida Sans Unicode", sans-serif; 
}


/*head*/
#head{
	background-color: rgba(57, 57, 57, 0.7);

}
#head h1{
	color: rgb(175, 10, 10);
	font-weight: "Lucida Sans Unicode", sans-serif;
}
#topLink a{
	color: rgb(175, 10, 10);
}


body{
	background-image: url('img/cornfield.jpg');	/*Photo by Rasmus Landgreen on Unsplash*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}

div.image{
	content: url('img/');
}
/*footer*/