/*common elements*/
h6{
	color: white;
	font-family: "Lucida Sans Unicode", sans-serif; 
}


/*head*/
#head{
	background-color: rgba(57, 57, 57, 0.7);

}
#head h1{
	color: white;
	font-weight: "Lucida Sans Unicode", sans-serif;
}

.nav {
	padding-right: 15px;
}
.modal-content{
	background-color: rgba(57,57,57, 0.7);
	display: table-caption;
	width: 100%;
	color: red;
	align-items: left;

}

.modal-footer{
	display: inline-flex; 
}
#topLink a{
	color: rgb(175, 10, 10);
}


body{
	background-image: url('img/cornfield1.jpg');	/*Photo by Rasmus Landgreen on Unsplash*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}



#home{
	box-shadow: 0 0 20px 8px black;

}

#log{
	box-shadow: 10px 20px 20px 20px black;
}

#log h2{
	color: white;
}

#log label{
	color: white;
}
#define h2{
	color: white;
}
#define label{
	color: white;
}
div.image{
	content: url('img/');
}

.dropbtn {
    background-color: rgb(217,83,79);
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    width: 55px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(217,83,79,0.2);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(217,83,79,0.8);
}
/*footer*/