/*common elements*/
h6{
	color: white;
	font-family: "Lucida Sans Unicode", sans-serif; 
}


/*head*/
#head{
	background-color: rgba(57, 57, 57, 0.7);

}
#head h1{
	color: white;
	font-weight: "Lucida Sans Unicode", sans-serif;
}

.nav {
	padding-right: 15px;
}
.modal-content{
	background-color: rgba(57,57,57, 0.7);
	display: table-caption;
	width: 100%;
	color: red;
	align-items: left;

}

.modal-footer{
	display: inline-flex; 
}
#topLink a{
	color: rgb(175, 10, 10);
}


body{
	background-image: url('img/cornfield1.jpg');	/*Photo by Rasmus Landgreen on Unsplash*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
}



#home{
	box-shadow: 0 0 20px 8px black;

}

#log{
	box-shadow: 10px 20px 20px 20px black;
}

#log h2{
	color: white;
}

#log label{
	color: white;
}
#define h2{
	color: white;
}
#define label{
	color: white;
}
div.image{
	content: url('img/');
}
/*footer*/